<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="script/babylon2.4.js"></script>
    <script scr="script/hand.minified-1.3.7.js">

    </script>
    <script src="script/app.js"></script>
    <title>1 | BABYLON</title>

    <style>
      html, body {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }

      #renderCanvas {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <canvas id="renderCanvas"></canvas>
    <script type="text/javascript">
      var canvas;
      var engine;
      var scene;

      document.addEventListener("DOMContentLoaded", startBabylonJS, false);

      function startBabylonJS() {
        if (BABYLON.Engine.isSupported()){
          canvas = document.getElementById("renderCanvas");
          engine = new BABYLON.Engine(canvas, true);

          engine.runRenderLoop(function(){
            engine.clear(new BABYLON.Color3(0.2, 0.2, 0.3), true);
          });
        }
      }
    </script>
  </body>
</html>
