<!DOCTYPE html>
<html>
  <head>
    <% include shared/head.ejs %>
  </head>
  <body>
    <% include shared/header.ejs %>

      <% restaurants.forEach((restaurant) => { %>
        <p>
          <a href="/restaurants/<%= restaurant.path %>"><%= restaurant.name %></a>
        </p>
      <% }) %>

    <% include shared/footer.ejs %>
  </body>
</html>
