.default {
    flex-flow: row;
}

.column {
    flex-flow: column;
}

.wrap {
    width: 300px;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}