.jumbotron {
  margin: 0px;
  padding: 12%;
  background-image: url("../images/jumbotron.gif");
  background-repeat: no-repeat;
  background-size: 100%;
}

.navbar {
  margin-bottom: 0px;
}

.container {
  margin-top: 20px;
  margin-bottom: 100px;
}

p {
  font-size: 1.2em;
}

input {
  margin-bottom: 5px;
}

textarea {
  margin-bottom: 5px;
}

#feedback-content {
  height: 100px;
}

.well {
  padding-left: 10px;
  padding-right: 10px;
}

.feedback-display {
  padding-left: 5px;
  padding-right: 5px;
}
