/************
* index 3   *
************/
.card, .board, button {
  margin-top: 1.5em;
}

.card {
  background-color: #E4E1DE;
  padding: 0.5em;
  border-radius: 0.5em;
}

.btn-danger {
  margin-left: 0.5em;
}

/************
* index 4   *
************/

#myDiv {
  background-color: #E4E1DE;
  height: 10em;
  width: 10em;
  border-radius: 0.5em;
}
