<div class="col-md-8 col-md-offset-2">
  <h2>Flash Chat</h2>
  <div *ngFor="let message of messages" [ngClass]="getClass(message.Sender)">

    <div class="panel-heading">
      <div class="panel-title">
        <p>{{ message.Sender }}</p>
      </div>
    </div>

    <div class="panel-body">
      {{ message.MessageBody }}
      <a  *ngIf="currentUser == message.Sender"
          (click)="onDeleteClick(message)"
          class="glyphicon glyphicon-trash">
      </a>
    </div>

  </div>
  <app-add-message></app-add-message>
</div>
