<div class="col-md-8 col-md-offset-2">
  <form (submit)="getWeatherData()">
    <div class="form-group">
      <input type="city" [(ngModel)]="city" name="city" placeholder="your city..." class="form-control" required>
    </div>
    <input type="submit" value="Get Weather" class="btn btn-primary pull-right">
  </form>

  <div *ngIf="jsonData" class="panel panel-default" style="clear:both">
    <div class="panel-heading">{{ jsonData.name }}</div>
    <div class="panel-body">
      <!-- <p>{{ jsonWikiData[0][1]}} <a href="{{ jsonWikiData[0][2]}}">Read More</a></p> -->
    </div>

    <table class="table table-hover">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Value</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row" >Temperature</th>
          <td colspan="6" >{{ jsonData.main.temp }}</td>
        </tr>
        <tr>
          <th scope="row" >Humidity</th>
          <td colspan="6" >{{ jsonData.main.humidity }}</td>
        </tr>
        <tr>
          <th scope="row" >Condition</th>
          <td colspan="6" >{{ jsonData.weather[0].description }}</td>
        </tr>
        <tr>
          <th scope="row" >Wind Speed</th>
          <td colspan="6" >{{ jsonData.wind.speed }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
